.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background: cyan;
  border-width: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 50px;
}